In [1]:
import pandas as pd
from functools import reduce

In [2]:
months = ['July 2019', 'June 2019','May 2019','April 2019', 'March 2019','February 2019', 'January 2019', 
          'December 2018', 'November 2018', 'October 2018', 'September 2018', 'August 2018']
dfs = []

In [3]:
for i, month in enumerate(months):
    df = pd.read_csv("csv/"+ str(i) +".csv.gz", compression='gzip')
    df['pythrs_month'] = month
    dfs.append(df)

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (43,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
airbnb_df = reduce(lambda left,right: pd.merge(left,right,how='outer'), dfs)

In [28]:
airbnb_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'pythrs_month'],
      dtype='object', length=107)

In [5]:
airbnb_df.to_csv('csv/final/airbnb.csv')

In [7]:
airbnb_df.groupby('pythrs_month').id.count().reset_index()

      pythrs_month     id
0       April 2019  43442
1      August 2018  42337
2    December 2018  43047
3    February 2019  43721
4     January 2019  43392
5        July 2019  44620
6        June 2019  44532
7       March 2019  43196
8         May 2019  43954
9    November 2018  44504
10    October 2018  43763
11  September 2018  43204

In [25]:
airbnb_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'pythrs_month'],
      dtype='object', length=107)

In [10]:
airbnb_df['price'] = airbnb_df['price'].replace('[\$,]', '', regex=True).astype(float)
airbnb_df['weekly_price'] = airbnb_df['weekly_price'].replace('[\$,]', '', regex=True).astype(float)
airbnb_df['monthly_price'] = airbnb_df['monthly_price'].replace('[\$,]', '', regex=True).astype(float)

In [20]:
#airbnb_df.dtypes
len(airbnb_df)

523712

In [29]:
airbnb_df_clean = airbnb_df[['id', 'name', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'accommodates', 
                            'bathrooms', 'bedrooms', 'beds', 'amenities', 'price', 'guests_included',
                            'minimum_nights', 'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
                           'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication',
                           'review_scores_location', 'review_scores_value', 'pythrs_month', 'city', 'state', 
                            'country', 'availability_365', 'has_availability']]

In [30]:
airbnb_df_clean.to_csv('csv/airbnb_cleaned.csv')

In [31]:
len(airbnb_df_clean)

523712